<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Geosolve</title>
        <meta charset="UTF-8">
        <link rel="icon" href="assets/marker.svg" type="image/svg+xml">
        <link rel="stylesheet" href="/css/styles.css">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="main">
            <h1>Geosolve</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a ligula ultrices erat eleifend dapibus.</p>
        </div>
        <div>
            <input type="file" id="image">
        </div>
        <script src="/js/script.js"></script>
        <img id="outputImage" hidden>
        <div id="map">
            <iframe id="mapFrame"
              width="600"
              height="450"
              style="border:0"
              loading="lazy"
              allowfullscreen
              referrerpolicy="no-referrer-when-downgrade"
              src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBRBsNfIfOXsxOve3I_vru6Qwwz0kAj8YQ
                &center=30.2859174,-97.7395459&zoom=16">
            </iframe>
        </div>

    </body>
</html>