@import "tailwindcss";

#main, body {
    text-align: center;
    display: inline;
    font-size: xx-large;
}
#main > p {
    font-size: larger;
}
body {
    background-color: #c8edad;
}

@theme {
    --font-display: "Times New Roman", "sans-serif";
}